@mixin t-space( $_space, $_size) {
  @include v-space( $_space, $_size);
}


@mixin t-bg-fullwidth {
  margin-left: -2000px;
  padding-left: 2000px;
  margin-right: -2000px;
  padding-right: 2000px;
  @include respond-to('sm'){
    margin-left: -24px;
    padding-left: 24px;
    margin-right: -24px;
    padding-right: 24px;
  }
  @include respond-to('xs'){
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;
  }
}
@mixin t-bg-fullwidth-left {
  margin-left: -2000px;
  padding-left: 2000px;
  @include respond-to('sm'){
    margin-left: -24px;
    padding-left: 24px;
  }
  @include respond-to('xs'){
    margin-left: -15px;
    padding-left: 15px;
  }
}
@mixin t-bg-fullwidth-right {
  margin-right: -2000px;
  padding-right: 2000px;
  @include respond-to('sm'){
    margin-right: -24px;
    padding-right: 24px;
  }
  @include respond-to('xs'){
    margin-right: -15px;
    padding-right: 15px;
  }
}

@mixin t-full-column( $_size: false){
  @if( $_size and map-has-key( $l-grid__gutter-width, $_size)){
    $_margin: map-get( $l-grid__gutter-width, $_size);
    margin-left: 0 - ( $_margin / 2);
    margin-right: 0 - ( $_margin / 2);
  }
  @else {
    @each $_size, $_margin in $l-grid__gutter-width{
      @if( $_size == default){
        margin-left: 0 - ( $_margin / 2);
        margin-right: 0 - ( $_margin / 2);
      }
      @else {
        @include respond-to( $_size){
          margin-left: 0 - ( $_margin / 2);
          margin-right: 0 - ( $_margin / 2);
        }
      }
    }
  }
}

@mixin t-padding-page( $_size: false){
  @if( $_size and map-has-key( $l-grid__gutter-width, $_size)){
    $_margin: map-get( $l-grid__gutter-width, $_size);
    padding-left: $_margin;
    padding-right: $_margin;
  }
}


