
@mixin t-nav__dropdown(){
  & {
    li {
      cursor: pointer;
    }
    > ul {
      > li {
        position: relative;
        > a {
          display: block;
          text-decoration: none;
        }
        
        &:hover ul,
        & ul:hover {
          opacity: 1;
          visibility: visible;
          transition: opacity .5s;
          display: block;
        }
        
        /******************
        SUBNAV
        ******************/
        > ul {
          transition: opacity .5s;
          position: absolute;
          overflow: hidden;
          > li {
            display: block;
          }
        }
      }

      @include respond-to('sm'){
        > li {
          position: relative;
          a {
            text-align: left;
          }
          &.current {
            ul {
              display: block !important;
            }
          }
          > ul {
            position: relative;
            > li {
              display: block;
            }
          }
        }
      }
    }
  }



  /***************************
  MOBILE NAV STYLES
  ***************************/

  @include respond-to('sm') {
    .arrow {
      display:block;
      background:url(../images/arrow.png) no-repeat;
      float:right;
      height:30px;
      width:30px;
      position:absolute;
      right:25px;
      top:10px;
      transition: all 0.3s ease;
    
      &:hover {
        cursor:pointer;
      }
    }

    .rotate {
      transition: all 0.3s ease;
      -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
         -o-transform:rotate(-180deg);
            transform:rotate(-180deg);
    }
  }

  @content;
}