@mixin t-icon-circle( $width, $font-size, $bg-color : #000, $color: #fff) {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    width: $width;
    height: $width;
    font-size: $font-size;
    text-align: center;
    cursor: pointer;
    background-color: $bg-color;
    color: $color;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    i {
        display: block;
    }
}

@mixin t-burger( $color, $line){
    display: block;
    cursor: pointer;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.active {
      justify-content: center;
    }
    div {
      height: $line;
      background-color: $color;
      transition: transform .5s;
    }
    &.active {
      position: relative;
      div {
        position: absolute;
        left: 0;
        top: calc( 50% - 2px);
        width: 100%;
      }
    }
    &.active {
      div:nth-child(1){
        transform: rotate(45deg);
      }
      div:nth-child(3){
        transform: rotate(-45deg);
      }
      div:nth-child(2) {
        display: none;
      }
    }
  }