/** Margins */
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.no-padding {
  padding: 0 !important;
}
/** Positions */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.bottom {
  top: auto;
  bottom: 0;
}
.display-block {
  display: block;
}

/** Margins */
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}

.mt10 {
  margin-top: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mt30 {
  margin-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mb40 {
  margin-bottom: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mb50 {
  margin-bottom: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mb60 {
  margin-bottom: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mb70 {
  margin-bottom: 70px;
}

.mnt20 {
  margin-top: -20px;
}
.mnt30 {
  margin-top: -30px;
}
.mnt40 {
  margin-top: -40px;
}
.mnt50 {
  margin-top: -50px;
}



/** Widths */
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
}
.width-70 {
  width: 70%;
}


/** Colors */
.black,
.black a {
  color: #000;
}
.grey,
.grey a {
  color: #bbb;
}
.white,
.white a {
  color: #fff;
}
.border-white {
  border-color: #fff;
}


/** Table position */
.ds-table {
  display: table;
}
.ds-td {
  display: table-cell;
  vertical-align: middle;
}

/** Aligns */
.align-left {
  text-align: left;
}
.align-justify {
  text-align: justify;
}