/** Margins */
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.no-padding {
  padding: 0 !important;
}
/** Positions */
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.bottom {
  top: auto;
  bottom: 0;
}
.display-block {
  display: block;
}

/** Margins */
.m-t {
  margin-top: 20px;
}
.m-t-xs {
  margin-top: 10px;
}
.m-b {
  margin-bottom: 20px;
}
.m-b-xs {
  margin-bottom: 10px;
}
.m-t-2 {
  margin-top: 30px;
}
.m-b-2 {
  margin-bottom: 30px;
}
.m-t-3 {
  margin-top: 40px;
}
.m-b-3 {
  margin-bottom: 40px;
}
.m-t-4 {
  margin-top: 50px;
}
.m-b-4 {
  margin-bottom: 50px;
}
.m-t-5 {
  margin-top: 60px;
}
.m-b-5 {
  margin-bottom: 60px;
}
.m-t-6 {
  margin-top: 70px;
}
.m-b-6 {
  margin-bottom: 70px;
}

.mn-t {
  margin-top: -20px;
}
.mn-t-2 {
  margin-top: -30px;
}
.mn-t-3 {
  margin-top: -40px;
}
.mn-t-4 {
  margin-top: -50px;
}



/** Widths */
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
.width-80 {
  width: 80%;
}
.width-70 {
  width: 70%;
}


/** Colors */
.black,
.black a {
  color: #000;
}
.grey,
.grey a {
  color: #bbb;
}
.white,
.white a {
  color: #fff;
}
.border-white {
  border-color: #fff;
}


/** Table position */
.ds-table {
  display: table;
}
.ds-td {
  display: table-cell;
  vertical-align: middle;
}

/** Aligns */
.align-left {
  text-align: left;
}
.align-justify {
  text-align: justify;
}