%btn-base {
  background-color: v-color-brand( accent2);
  border: none;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bold;
  @include v-space( margin-top);
  &:before {
    font-family: "FontAwesome";
    content: "\f01a";
    margin-right: 5px;
    font-weight: normal;
  }
}


#to-top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  @include t-icon-circle( 70px, 40px, transparent);
  background-color: rgba(0,0,0,.4);
  border: 2px solid #fff;
  margin-bottom: 20px;
  @include opacity(0);
  &.top-visible {
    @include opacity(.6);
  }
  &.top-visible:hover {
    @include opacity(1);
  }
  @include respond-to('sm'){
    bottom: 0;
    @include border-radius(0);

    i {
      @include border-radius(0);
    }
    &.top-visible {
      @include opacity(1);
    }
    margin-bottom: 0px;
    font-size: 20px;
    border: 0;
    background-color: #000;
    width: 30px;
    height: 30px;
    right: 10px;
  }
}
