.c-pagination {
  ul {
    margin-top: 60px;
    margin-bottom: 60px;
    @include flex-box( center, center);
    li {
      margin-right: 20px;
      a {
        display: block;
        text-align: center;
        color: inherit;
        font-size: 21px;
      }
      &.next a,
      &.prev a {
        color: v-color-brand( primary);
        font-size: 22px;
      }
      &.active a {
        color: #999;
      }
    }
  }
}