
@mixin t-burger( $color, $line, $width){
  display: block;
  cursor: pointer;
  font-size: 40px;
  justify-content: space-between;
  .active & {
    justify-content: center;
    z-index: v-zindex(navopen);
  }
  div {
    width: $width;
    height: $line;
    background-color: $color;

    @include min-to('xs'){
      body.bg-black:not(.nav-sidebar-active):not(.nav-rrss-active) &,
      body.bg-blue:not(.nav-sidebar-active):not(.nav-rrss-active) & {
        background-color: #fff;
      }
    }
    
    transition: all .5s;
    border-radius: 120px;
    position: absolute;
    left: 0;
  }
  .active & {
    div {
      left: 0;
      height: 2px;
    }
  }
  div:nth-child(1) {
    top: 0px;
  }
  div:nth-child(2) {
    top: 11px;
  }
  div:nth-child(3) {
    top: 22px;
  }
  .active & {
    div:nth-child(1){
      transform: rotate(45deg);
      left: 0px;
      top: 12px;
      position: absolute;
      width: 34px;
    }
    div:nth-child(3){
      transform: rotate(-45deg);
      left: 0px;
      top: 12px;
      position: absolute;
      width: 34px;
    }
    div:nth-child(2) {
      display: none;
    }
  }
}

.c-nav-open-wrapper {
  padding: 10px;
  margin-right: -10px;
  z-index: 9999;
  .sticking & {
    top: 8px;
  }
}
.c-nav-open {
  position: relative;
  height: 26px;
  width: 30px !important;  
  padding: 0 15px;
  z-index: 999;
  @include t-burger( v-color-neutral( ), 2px, 30px);
  > div {
    background-color: v-color-neutral( );
    transition: all .5s;
    .sticking & {
    }
    
    @include respond-to('xs'){
    }
    
    @include min-to('xs'){
      body.top-window & {
        background-color: #fff;
      }
    }
    
    @include respond-to('xs'){
      body.top-window.homepage & {
        background-color: #fff;
      }
    }
  }
  
  display: flex;

  transition: transform .5s;
  &.active {
    z-index: 99999999999999;
    height: 30px;
    width: 30px;

    > div {
    }
  }
}
