.jssocials {
  .jssocials-shares {
    margin: 0;
  }
  @include v-space( margin-bottom);
  height: 40px;
  .jssocials-share-link {
    background-color: #999;
    @include box-shadow(0,0,0);
    @include border-radius( 4px);
    border: none;
    padding: 4px 6px;
    color: #fff;
    i {
      font-size: 15px;
    }
  }
}