$c-logo-width: 380px;
$c-logo-width-sm: 200px;
$c-logo-width-sticking: 100px;
$c-header-height: 120px;
$c-header-height-sticking: 60px;

.c-header-wrapper {
  height: $c-header-height;
  z-index: 99;
  position: relative;
  &.sticking {
    width: 100%;
    height: $c-header-height-sticking;
    background-color: #fff;
  }
}
.c-header{
  position: relative;
  @include flexbox();
  &__logo {
    @include flex-basis( $c-logo-width);
    @include respond-to(sm){
      @include flex-basis( $c-logo-width-sm);
    }
    .sticking & {
      @include flex-basis( $c-logo-width-sticking);
    }
  }
  &__navmain {
    @include flex-basis( 100%);
    nav {
      position: relative;
    }
  }
}


@include t-nav__dropdown(){
  .c-navmain {
    > ul {
      > li {
        > a {
          padding: 0 20px;
          text-align: center;
        }
        > ul {
          padding: 0 20px;
          @include box-shadow();
          @include opacity( 1);
          > li {
            > a {

            }
          }
        }
      }
    }
  }
}