

#tarteaucitronRoot #tarteaucitronAlertBig {
  top: auto;
  bottom: 0px;
  box-sizing: border-box;
  bottom: auto;
  &[style='display: block;'] {
    display: flex !important;
  }
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc( 100vw - 50px);
  padding: 30px;
  text-align: left;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba( #000, .3);
  max-width: 430px;
  right: 30px;
  bottom: 30px;
  left: auto;
  @include respond-to('xs'){
    top: 50%;
    left: 25px;
    bottom: auto;
    transform: translateY(-50%);
  }
  a {
    color: v-color-neutral();
    text-decoration: underline;
  }
}
#tarteaucitronAlertBig #tarteaucitronDisclaimerAlert {
  display: block;
  flex-basis: 100%;
  margin-bottom: 10px;
  &, strong, a {
    color: v-color-neutral( ) !important;
    font-family: v-font( primary) !important;
  }

  &:before {
    content: "Cookies";
    display: block;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
  }
}

#tarteaucitron #tarteaucitronPrivacyUrl, 
#tarteaucitronAlertBig #tarteaucitronCloseAlert, 
#tarteaucitronAlertBig #tarteaucitronDenyAll,
#tarteaucitronAlertBig #tarteaucitronPersonalize {
  font-family: v-font( primary) !important;
  background: v-color-neutral( );
  color: #fff;
  min-height: 50px;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  box-sizing: border-box !important;
  @include respond-to('xs'){
    height: auto;
  }
  transition: all .5s;
  &:hover {
    opacity: .8;
  }
}
#tarteaucitronAlertBig  {
  #tarteaucitronPersonalize,
  #tarteaucitronDenyAll {
    width: 100%;
    max-width: calc( 50% - 5px);
    flex-basis: calc( 50% - 5px);
  }
}

#tarteaucitronPersonalize {
  margin-left: 0 !important;
}

#tarteaucitronCloseAlert {
  background-color: rgba( v-color-neutral(), .4) !important;
  width: calc( 100%);
  flex-basis: 100%;
  margin-left: 0;
}
#tarteaucitronPercentage {
  display: none !important;
}