@mixin t-text-base() {
  strong {
  }
  h1 {
    max-width: 500px;
    @include v-space( margin-bottom, large);
  }

  h2 {
  }

  h3 {
    color: v-color-brand();
    margin-top: 1.5em;
    margin-bottom: .5em;
  }
  
  h4 {

  }

  a {
    text-decoration: underline;
    color: v-color-brand( primary);
    &:hover {
      color: v-color-brand( primary--light);
    }
  }

  ul {
    margin-top: ($e-paragraphs__spacing-vertical - $e-paragraphs__space-within) * -1;
    margin-bottom: ($e-paragraphs__spacing-vertical - $e-paragraphs__space-within) * -1;
    margin-left: 2em;
  }
  ul, li {
    list-style: disc;
  }
  ol {
    list-style: decimal;
    margin-left: 1em;
  }
  blockquote {
    @extend %co-blockquote;
  }
  img {
    max-width: 100%;
  }
}


%co-blockquote {
  font-size: 22px;
  margin: 30px 100px 30px 70px;
  position: relative;
  line-height: 1.4em;
  &:before {
    content: "“";
    font-size: 48px;
    color: v-color-brand( primary);
    position: absolute;
    top: 15px;
    left: -30px;
  }
  @include respond-to('sm'){
    font-size: 18px;
    margin: 30px 30px 30px 30px;
  }
}

.c-text-base {
  @include t-text-base();
}


