.c-error400 {
  padding: 40px 0;
  text-align: center;
  h2 {
    font-size: 85px;
    text-align: center;
  }
  h1 {
    font-size: 65px;
    text-align: center;
    color: v-color-brand();
    max-width: none;
  }
  h3 {
    max-width: 780px;
    margin: 20px auto;
    text-align: center;
    color: v-color-brand( secondary);
    font-size: 35px;
    margin-top: 80px;
  }
  @include respond-to('xs'){
    h2 {
      font-size: 55px;
    }
    h1 {
      font-size: 40px;
    }
    h3 {
      font-size: 16px;
    }
  }
}