.form {
  margin-bottom: 40px;
}
.c-form, .block-form {
  form {
    margin-top: 40px;
  }
    @include respond-to('sm'){
      width: auto;
      padding: 30px 10px;
    }
    label {
      position: relative;
      width: 100%;
      display: block;
      margin-bottom: 5px;
      margin-top: 30px;
      font-size: 14px;
      label {
        display: inline;
      }
      input, textarea {
        border: none;
        background-color: rgba( #fff, .8);
        font-size: 14px;
        padding: 10px 10px;
        width: 100%;
        outline: none;
        &[type=checkbox],
        &[type=radio] {
          width: auto;
          margin-right: 5px;
        }
      }
      &.radio {
        margin-top: 0;
      }
      &.checkbox label,
      &.radio label, {
        margin-right: 10px;
        margin-top: 0;
        font-weight: 100;
      }
      span {
        @include transition(.5s);
        font-size: 14px;
        position: absolute;
        top: 5px;
        left: 10px;
        width: auto;
      }
      textarea + span {
      }
      select {
        background: transparent;
        padding: 5px;
        width: 100%;
        font-size: 14px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 28px;
        -webkit-appearance: none;
        border-bottom: 1px solid #ccc;
      }
      select + span {
        display: none;
      }

      input.error + span,
      input.not-empty + span,
      input.not-empty + label + span,
      textarea.not-empty + span,
      input:focus + span,
      input:focus + label + span,
      textarea:focus + span,
      textarea:focus + label + span,
      select.not-empty + span {
        font-size: 11px;
        line-height: 1.4em;
        text-transform: uppercase;
        top: -18px;
        left: 0px;
        display: inline;
        width: auto;
      }
    }
    .buttons {
      margin-top: 20px;
      text-align: right;
    }
    
    button, input[type=submit] {
      @extend %btn-base;
    }

    .btn {
      border: 1px solid rgba(v-color-brand(), .5);
      padding: 10px 10px;
      position: relative;
      display: inline-block;
    }
    label.error {
      margin-top: 0 !important;
      margin-bottom: 40px!important;
    }
    .error-message,
    label.error,
    .recaptcha-error {
      color: v-color( state, danger);
      padding-left: 20px;
      position: relative;
      font-size: 14px;
      
    }
    .error-message,
    label.error {
      &:before {
        content: "\f071";
        font-family: "FontAwesome";
        position: absolute;
        left: 0;
      }
    }
      
    .explain {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }

.form-error-notice {
  text-align: center;
  background-color: #B22D00;
  padding: 20px;
  color: #fff;
  h4 {
    text-transform: uppercase;
  }
}
.form-notice {
  font-size: 12px;
}

.form-contact {
  border: 1px solid #ccc;
  padding: 20px 30px;
  max-width: 615px;
  margin: 20px auto;
}


.form-accept-text {
  margin-top: 30px;
}

.form-accept-text,
.form-mandatory-text {
  font-size: 12px;
}

.change-password {
  margin-top: 20px;
  span {
    cursor: pointer;
  }
} 
.change-password-container {
  display: none;
  &.active {
    display: block
  }
}
.form-response-success {
  margin-top: 30px;
  margin-bottom: 20px;
  color: v-color-brand();
}
.cuenta {
  @include flexbox();
  > label {
    margin-top: 0;
    margin-right: 20px;
    width: 40px;
  }
}