@font-face {
  font-family: 'weather';
  src: url('../font/weather.eot?50165828');
  src: url('../font/weather.eot?50165828#iefix') format('embedded-opentype'),
       url('../font/weather.woff2?50165828') format('woff2'),
       url('../font/weather.woff?50165828') format('woff'),
       url('../font/weather.ttf?50165828') format('truetype'),
       url('../font/weather.svg?50165828#weather') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'weather';
    src: url('../font/weather.svg?50165828#weather') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*="weather-"]:before {
  font-family: "weather";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.weather-wsymbol_0001_sunny:before { content: '\e800'; } /* '' */
.weather-wsymbol_0002_sunny_intervals:before { content: '\e801'; } /* '' */
.weather-wsymbol_0003_white_cloud:before { content: '\e802'; } /* '' */
.weather-wsymbol_0004_black_low_cloud:before { content: '\e803'; } /* '' */
.weather-wsymbol_0005_hazy_sun:before { content: '\e804'; } /* '' */
.weather-wsymbol_0006_mist:before { content: '\e805'; } /* '' */
.weather-wsymbol_0007_fog:before { content: '\e806'; } /* '' */
.weather-wsymbol_0008_clear_sky_night:before { content: '\e807'; } /* '' */
.weather-wsymbol_0009_light_rain_showers:before { content: '\e808'; } /* '' */
.weather-wsymbol_0010_heavy_rain_showers:before { content: '\e809'; } /* '' */
.weather-wsymbol_0011_light_snow_showers:before { content: '\e80a'; } /* '' */
.weather-wsymbol_0012_heavy_snow_showers:before { content: '\e80b'; } /* '' */
.weather-wsymbol_0013_sleet_showers:before { content: '\e80c'; } /* '' */
.weather-wsymbol_0014_light_hail_showers:before { content: '\e80d'; } /* '' */
.weather-wsymbol_0015_heavy_hail_showers:before { content: '\e80e'; } /* '' */
.weather-wsymbol_0016_thundery_showers:before { content: '\e80f'; } /* '' */
.weather-wsymbol_0017_cloudy_with_light_rain:before { content: '\e810'; } /* '' */
.weather-wsymbol_0018_cloudy_with_heavy_rain:before { content: '\e811'; } /* '' */
.weather-wsymbol_0019_cloudy_with_light_snow:before { content: '\e812'; } /* '' */
.weather-wsymbol_0020_cloudy_with_heavy_snow:before { content: '\e813'; } /* '' */
.weather-wsymbol_0021_cloudy_with_sleet:before { content: '\e814'; } /* '' */
.weather-wsymbol_0022_cloudy_with_light_hail:before { content: '\e815'; } /* '' */
.weather-wsymbol_0023_cloudy_with_heavy_hail:before { content: '\e816'; } /* '' */
.weather-wsymbol_0024_thunderstorms:before { content: '\e817'; } /* '' */
.weather-wsymbol_0025_light_rain_showers_night:before { content: '\e818'; } /* '' */
.weather-wsymbol_0026_heavy_rain_showers_night:before { content: '\e819'; } /* '' */
.weather-wsymbol_0027_light_snow_showers_night:before { content: '\e81a'; } /* '' */
.weather-wsymbol_0028_heavy_snow_showers_night:before { content: '\e81b'; } /* '' */
.weather-wsymbol_0029_sleet_showers_night:before { content: '\e81c'; } /* '' */
.weather-wsymbol_0030_light_hail_showers_night:before { content: '\e81d'; } /* '' */
.weather-wsymbol_0031_heavy_hail_showers_night:before { content: '\e81e'; } /* '' */
.weather-wsymbol_0032_thundery_showers_night:before { content: '\e81f'; } /* '' */
.weather-wsymbol_0033_cloudy_with_light_rain_night:before { content: '\e820'; } /* '' */
.weather-wsymbol_0034_cloudy_with_heavy_rain_night:before { content: '\e821'; } /* '' */
.weather-wsymbol_0035_cloudy_with_light_snow_night:before { content: '\e822'; } /* '' */
.weather-wsymbol_0036_cloudy_with_heavy_snow_night:before { content: '\e823'; } /* '' */
.weather-wsymbol_0037_cloudy_with_sleet_night:before { content: '\e824'; } /* '' */
.weather-wsymbol_0038_cloudy_with_light_hail_night:before { content: '\e825'; } /* '' */
.weather-wsymbol_0039_cloudy_with_heavy_hail_night:before { content: '\e826'; } /* '' */
.weather-wsymbol_0040_thunderstorms_night:before { content: '\e827'; } /* '' */
.weather-wsymbol_0041_partly_cloudy_night:before { content: '\e828'; } /* '' */
.weather-wsymbol_0042_cloudy_night:before { content: '\e829'; } /* '' */
.weather-wsymbol_0043_mostly_cloudy:before { content: '\e82a'; } /* '' */
.weather-wsymbol_0044_mostly_cloudy_night:before { content: '\e82b'; } /* '' */
.weather-wsymbol_0045_hot:before { content: '\e82c'; } /* '' */
.weather-wsymbol_0046_cold:before { content: '\e82d'; } /* '' */
.weather-wsymbol_0047_freezing_fog:before { content: '\e82e'; } /* '' */
.weather-wsymbol_0048_drizzle:before { content: '\e82f'; } /* '' */
.weather-wsymbol_0049_freezing_drizzle:before { content: '\e830'; } /* '' */
.weather-wsymbol_0050_freezing_rain:before { content: '\e831'; } /* '' */
.weather-wsymbol_0051_extreme_rain:before { content: '\e832'; } /* '' */
.weather-wsymbol_0052_extreme_snow:before { content: '\e833'; } /* '' */
.weather-wsymbol_0053_blowing_snow:before { content: '\e834'; } /* '' */
.weather-wsymbol_0054_blizzard:before { content: '\e835'; } /* '' */
.weather-wsymbol_0055_smoke:before { content: '\e836'; } /* '' */
.weather-wsymbol_0056_dust_sand:before { content: '\e837'; } /* '' */
.weather-wsymbol_0057_thundery_snow_showers:before { content: '\e838'; } /* '' */
.weather-wsymbol_0058_thunderstorms_with_snow:before { content: '\e839'; } /* '' */
.weather-wsymbol_0059_thunderstorms_with_hail:before { content: '\e83a'; } /* '' */
.weather-wsymbol_0060_windy:before { content: '\e83b'; } /* '' */
.weather-wsymbol_0061_hot_night:before { content: '\e83c'; } /* '' */
.weather-wsymbol_0062_cold_night:before { content: '\e83d'; } /* '' */
.weather-wsymbol_0063_mist_night:before { content: '\e83e'; } /* '' */
.weather-wsymbol_0064_fog_night:before { content: '\e83f'; } /* '' */
.weather-wsymbol_0065_freezing_fog_night:before { content: '\e840'; } /* '' */
.weather-wsymbol_0066_drizzle_night:before { content: '\e841'; } /* '' */
.weather-wsymbol_0067_freezing_drizzle_night:before { content: '\e842'; } /* '' */
.weather-wsymbol_0068_freezing_rain_night:before { content: '\e843'; } /* '' */
.weather-wsymbol_0069_extreme_rain_night:before { content: '\e844'; } /* '' */
.weather-wsymbol_0070_extreme_snow_night:before { content: '\e845'; } /* '' */
.weather-wsymbol_0071_blowing_snow_night:before { content: '\e846'; } /* '' */
.weather-wsymbol_0072_blizzard_night:before { content: '\e847'; } /* '' */
.weather-wsymbol_0073_smoke_night:before { content: '\e848'; } /* '' */
.weather-wsymbol_0074_dust_sand_night:before { content: '\e849'; } /* '' */
.weather-wsymbol_0075_thundery_snow_showers_night:before { content: '\e84a'; } /* '' */
.weather-wsymbol_0076_thunderstorms_with_snow_night:before { content: '\e84b'; } /* '' */
.weather-wsymbol_0077_thunderstorms_with_hail_night:before { content: '\e84c'; } /* '' */
.weather-wsymbol_0078_windy_night:before { content: '\e84d'; } /* '' */
.weather-wsymbol_0079_tornado:before { content: '\e84e'; } /* '' */
.weather-wsymbol_0080_tropical_storm_hurricane:before { content: '\e84f'; } /* '' */
.weather-wsymbol_0081_heavy_drizzle:before { content: '\e850'; } /* '' */
.weather-wsymbol_0082_heavy_drizzle_night:before { content: '\e851'; } /* '' */
.weather-wsymbol_0083_heavy_freezing_drizzle:before { content: '\e852'; } /* '' */
.weather-wsymbol_0084_heavy_freezing_drizzle_night:before { content: '\e853'; } /* '' */
.weather-wsymbol_0085_extreme_rain_showers:before { content: '\e854'; } /* '' */
.weather-wsymbol_0086_extreme_rain_showers_night:before { content: '\e855'; } /* '' */
.weather-wsymbol_0087_heavy_sleet_showers:before { content: '\e856'; } /* '' */
.weather-wsymbol_0088_heavy_sleet_showers_night:before { content: '\e857'; } /* '' */
.weather-wsymbol_0089_heavy_sleet:before { content: '\e858'; } /* '' */
.weather-wsymbol_0090_heavy_sleet_night:before { content: '\e859'; } /* '' */
.weather-wsymbol_0091_volcanic_ash:before { content: '\e85a'; } /* '' */
.weather-wsymbol_0999_unknown:before { content: '\e85b'; } /* '' */