@import "variables/variables";

$links: $vg-color__brand; 
$bg: $vg-color__brand_secondary;
$bg2: $vg-color__brand;
$btn: rgba( $bg, .5);
$btn2: lighten($bg, 10%);

.header-client {
  float: left;
  margin-top: 5px;
  margin-left: 100px;
}
.header-client label {
  display: block;
}
.header-client select {
  font-size: 16px;
}
.admin-logo {
  float: left;
}

a {
  color: $links;
}
a:hover {
  opacity: .7;
  color: $links;
}
#wrapper {
  background-color: $bg2;
}
h3 {
    color: $links;
}
.navbar-default {
  border-color: $bg;
  background-color: $bg;
}
.nav > li > a {
  color: #fff;
}
.nav > li.active {
  border-left: 4px solid $links;
  background: rgba(0,0,0,.2);
}
.navbar-default .nav > li > a:focus, 
.navbar-default .nav > li > a:hover {
  background-color: rgba(0,0,0,.2);
}

.header-content {
  background: $bg;
  border-bottom: 1px solid $bg;
  border-bottom: none;
  background-color: $bg2;
}
.btn-primary {
  background-color: $btn;
  border-color: rgba(#000, .3);
  &:hover {
    background-color: darken($btn, 50%) !important;
    border-color: rgba(#000, .3);
  }
}
.btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
  background-color: darken($btn, 50%) !important;
  border-color: rgba(#000, .3);
}
.btn-primary.btn-outline {
  color: #fff;
}
.btn-warning {
  background-color: $btn2; 
  border-color: $btn2;
  &:hover {
    background-color: darken($btn2, 10%) !important;
    border-color: darken($btn2, 12%);
  }
}
.btn-default {
  background-color: $btn;
  border-color: darken( $btn, 10%);
  color: #FFF;
  &:hover {
    background-color: darken($btn, 10%) !important;
    border-color: darken($btn, 12%);
  }
}
.btn-info {
  background-color: $links;
  border-color: darken( $links, 10%);
  &:hover {
    background-color: darken($links, 10%) !important;
    border-color: darken($links, 12%);
  }
}
.header-content h2 a {
  color: #fff;
}
.header-content h2 .dropdown-menu a {
  color: #333;
}
