/* -------------------------------------------------------------------------
 * HEADINGS
 *
 * Define some minimal links styles
 *
 */

// Headings variables

$e-links__color:                          v-color( brand, primary) !default;
$e-links__hover-color:                    v-color( brand, secondary) !default;

$e-links__decoration:                     none !default;
$e-links__hover-decoration:               none !default;

// Links output

a {
  color: $e-links__color;
  text-decoration: $e-links__decoration;

  @if ($e-links__hover-color != $e-links__color or $e-links__decoration != $e-links__hover-decoration) {
    &:hover {

      @if ($e-links__hover-color != $e-links__color) {
        color: $e-links__hover-color;
      }

      @if ($e-links__decoration != $e-links__hover-decoration) {
        text-decoration: underline;
      }
    }
  }
  &:hover {
    @include opacity( .8);
  }
}
