
/* -------------------------------------------------------------------------
 * HEADINGS
 *
 * Define some minimal heading styles
 *
 */

// Headings variables

$e-headings__font-weight:         400 !default;

$e-headings__line-height:         $v-line-height--tiny !default;

$e-headings__margin-bottom:       $g-reset__spacing--vertical !default;


// Headings output

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $e-headings__line-height;
  margin-bottom: $e-headings__margin-bottom;
  font-weight: $e-headings__font-weight;
}


h1 {
  @include v-fontsize( 'h1');
  font-weight: bold;
}

h2 {
  @include v-fontsize( 'h2');
}

h3 {
  @include v-fontsize( 'h3');
  font-weight: bold;
}

h4 {
  @include v-fontsize( 'h4');
}

h5 {
  @include v-fontsize( 'h5');
}

h6 {
  @include v-fontsize( 'h6');
}

.el-block-header {
  color: v-color-brand();
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  @include v-space( margin-bottom);
}