/* -------------------------------------------------------------------------
 * Nav
 *
 * Define navs
 *
 */

// Navs variables

$e-paragraphs__spacing-vertical:            $g-reset__spacing--vertical !default;
$e-paragraphs__space-within:                $v-space--small !default;


// Links output

nav {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

