
@import "_variables__colors-brand";
@import "_variables__colors-neutral";
@import "_variables__colors-state";
@import "_variables__colors-vendor";


// COLORS MAIN MAP

$v-colors: (
  "brand":        $v-colors-brand,
  "neutral":      $v-colors-neutral,
  "state":        $v-colors-state,
  "vendor":       $v-colors-vendor
) !default;

@function v-color( $_type, $_subtype: primary){
  $_color: map-get( $v-colors, $_type);
  @return map-get( $_color, $_subtype);
}
@function v-color-brand( $_subtype: primary){
  @return v-color( brand, $_subtype);
}

@function v-color-neutral( $_subtype: 'black'){
  @return v-color( neutral, $_subtype);
}



$vg-color__brand: v-color( brand, primary);
$vg-color__brand_secondary: v-color( brand, secondary);
$vg-color__text: v-color( neutral, 'black');