
/* -------------------------------------------------------------------------
 * COLORS NEUTRAL
 *
 * Neutral colors are the ones without saturation
 */


// Black & White

$v-color__neutral-white:                #fff !default;
$v-color__neutral-black:                #000 !default;

// Grey shades (Mid tones are missing intentionally)

$v-color__neutral-grey--ultra-light:    darken(#fff, 5%) !default;
$v-color__neutral-grey--light:          darken(#fff, 10%) !default;
$v-color__neutral-grey--semi-light:     darken(#fff, 20%) !default;
$v-color__neutral-grey:                 darken(#fff, 30%) !default;
$v-color__neutral-grey--semi-dark:      darken(#fff, 70%) !default;
$v-color__neutral-grey--dark:           darken(#fff, 80%) !default;
$v-color__neutral-grey--ultra-dark:     darken(#fff, 90%) !default;

// Transparent colors

$v-color__neutral-white--transparent:   rgba($v-color__neutral-white, 0) !default;
$v-color__neutral-black--transparent:   rgba($v-color__neutral-black, 0) !default;


// NEUTRAL COLOR MAP

$v-colors-neutral: (
  "white":                              $v-color__neutral-white,
  "black":                              $v-color__neutral-black,
  "grey--ultra-light":                  #F2F2F2,
  "grey--light":                        $v-color__neutral-grey--light,
  "grey--semi-light":                   $v-color__neutral-grey--semi-light,
  "grey":                               $v-color__neutral-grey,
  "grey--semi-dark":                    $v-color__neutral-grey--semi-dark,
  "grey--dark":                         $v-color__neutral-grey--dark,
  "grey--ultra-dark":                   $v-color__neutral-grey--ultra-dark,
  "white--transparent":                 $v-color__neutral-white--transparent,
  "black--transparent":                 $v-color__neutral-black--transparent,
) !default;
