
/* -------------------------------------------------------------------------
 * COLORS BRAND
 *
 * Define brand colors and its priorities
 */


// Main brand colors

$v-color__brand-primary:                  #999 !default;
$v-color__brand-secondary:                #666 !default;
$v-color__brand-accent:                   #333 !default;


// Primary shades

$v-color__brand-primary--ultra-light:     mix(#fff, $v-color__brand-primary, 93%) !default;
$v-color__brand-primary--light:           lighten($v-color__brand-primary, 10%) !default;
$v-color__brand-primary--semi-light:      lighten($v-color__brand-primary, 5%) !default;

$v-color__brand-primary--semi-dark:       darken($v-color__brand-primary, 5%) !default;
$v-color__brand-primary--dark:            darken($v-color__brand-primary, 15%) !default;

// Secondary shades

$v-color__brand-secondary--ultra-light:   mix(#fff, $v-color__brand-secondary, 93%) !default;
$v-color__brand-secondary--light:         lighten($v-color__brand-secondary, 10%) !default;
$v-color__brand-secondary--semi-light:    lighten($v-color__brand-secondary, 5%) !default;

$v-color__brand-secondary--semi-dark:     darken($v-color__brand-secondary, 5%) !default;
$v-color__brand-secondary--dark:          darken($v-color__brand-secondary, 15%) !default;

// Accent shades

$v-color__brand-accent--ultra-light:      mix(#fff, $v-color__brand-accent, 93%) !default;
$v-color__brand-accent--light:            lighten($v-color__brand-accent, 10%) !default;
$v-color__brand-accent--semi-light:       lighten($v-color__brand-accent, 5%) !default;

$v-color__brand-accent--semi-dark:        darken($v-color__brand-accent, 5%) !default;
$v-color__brand-accent--dark:             darken($v-color__brand-accent, 15%) !default;


// BRAND COLOR MAP

$v-colors-brand: (
  "primary":                   $v-color__brand-primary,
  "secondary":                 $v-color__brand-secondary,
  "accent":                    $v-color__brand-accent,
  "accent2":                   #29ABE2,
  "primary--ultra-light":      $v-color__brand-primary--ultra-light,
  "primary--light":            $v-color__brand-primary--light,
  "primary--semi-light":       $v-color__brand-primary--semi-light,
  "primary--semi-dark":        $v-color__brand-primary--semi-dark,
  "primary--dark":             $v-color__brand-primary--dark,
  "secondary--ultra-light":    $v-color__brand-secondary--ultra-light,
  "secondary--light":          $v-color__brand-secondary--light,
  "secondary--semi-light":     $v-color__brand-secondary--semi-light,
  "secondary--semi-dark":      $v-color__brand-secondary--semi-dark,
  "secondary--dark":           $v-color__brand-secondary--dark,
  "accent--ultra-light":       $v-color__brand-accent--ultra-light,
  "accent--light":             $v-color__brand-accent--light,
  "accent--semi-light":        $v-color__brand-accent--semi-light,
  "accent--semi-dark":         $v-color__brand-accent--semi-dark,
  "accent--dark":              $v-color__brand-accent--dark,
) !default;
