.b-documents {
  &__docs {
    margin-top: 10px;
    a {
      display: flex;
    }
  }
  &__icon {
    color: v-color( neutral, 'black');
  }
  &__content {
    margin-left: 10px;
  }
  &__size {
    color: v-color( neutral, 'black');
    font-size: 12px;
  }
  
}