// Alturas
$bl-slideshow-heights: (
  default: 400px,
  sm: 280px,
  xs: 200px
);

$bl-slideshow-max-width-text: 1000px;


.b-slideshow .flex-viewport {
  margin-bottom: 0px !important;
}
.b-slideshow .flexslider {
  border: none;
}
.flexslider {
  margin: 0;
  .section-view & {
    margin-bottom: 40px;
  }
}

.bl-slider {
  height: map-get( $bl-slideshow-heights, default);
  @include respond-to('sm'){
    height: map-get( $bl-slideshow-heights, sm);
  }
  @include respond-to('xs'){
    height: map-get( $bl-slideshow-heights, xs);
  }
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  &:before,
  &:after {
    content: " ";
    display: block;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
  }
  &:before {
    left: 0;
    background: linear-gradient(to right,  rgba(0,0,0,0.48) 0%,rgba(125,185,232,0) 100%);
  }
  &:after {
    right: 0px;
    background: linear-gradient(to right,  rgba(125,185,232,0) 0%,rgba(0,0,0,0.48) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  .container,
  .slide-overlay,
  &__container{
    height: 100%;
  }
  .slide-overlay {
    background-color: rgba(#000, .4);
  }
  &__container {
    text-align: center;
    @include box-sizing();
    @include respond-to('xs'){
      width: 100%;
      margin-left: 0;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      padding-right: 20px;
      h3 {
        margin: 0;
        line-height: 30px;
      }
      h4 {
        margin: 0;
      }
    }
  }
  &__content {
    @include flex-box( center, center);
    height: 100%;
    .slide-align-left & {
      @include justify-content( flex-start);
    }
    .slide-align-right & {
      @include justify-content( flex-end);
    }
    .slide-align-center & {
      @include justify-content( center);
    }
    @include respond-to('xs'){
      max-width: none;
    }
    &--text {
      max-width: $bl-slideshow-max-width-text;
      padding-left: 60px;
      padding-right: 60px;
      @include respond-to('sm'){
        max-width: 450px;
      }
      @include respond-to('xs'){
        padding-left: 15px;
        padding-right: 15px;
      }
      h3 {
        font-weight: bold;
        font-size: 48px;
        line-height: 1.2em;
        color: #fff;
        @include text-shadow( 4px, 4px, 10px, rgba( #000, .7));
        @include respond-to('md'){
          font-size: 36px;
        }
        @include respond-to('sm'){
          font-size: 22px;
        }
        @include respond-to('xs'){
          font-size: 18px;
        }
      }
      h4 {
        font-size: 22px;
        letter-spacing: .05em;
        margin: 0;
        color: #fff;;
        font-weight: 300;
        &:after,
        &:before {
          border-color: #fff;
        }
      }
      h5 {
        font-size: 22px;
        color: #fff;
        @include text-shadow( 2px, 2px, 5px, rgba( #000, .5));
      }
    }
    &--button {
      margin-top: 30px;
      a {
        text-transform: uppercase;
        letter-spacing: .05em;
        padding: 15px 20px;
        color: $vg-color__text;
        @include border-radius( 15px);
        font-weight: bold;
        background-color: rgba( #00FF00, .8);
      }
    }
    &--video-button {
      @include t-icon-circle( 100px, 50px, rgba( #000, .4));
    }
  }
}


.custom-navigation,
.custom-navigation-carousel {
  a {
    top: calc( 50% - 40px);
    z-index: 99;
    position: absolute;
    font-size: 80px;
    color: rgba( #fff, .4);
    &.flex-prev {
      left: 10px;
    }
    &.flex-next {
      right: 10px;
    }
    &:hover {
      color: rgba( #fff, 1);
    }
  }
}

.flex-control-nav {
  bottom: -20px;
  li {
    margin: 0 10px;
    a {
      box-shadow: 2px 2px 4px rgba( #000, .7);
      background-color: rgba( #fff, .6);
      &.flex-active {
        background-color: rgba( #fff, 1);
      }
    }
  }
}