.custom__bg-green {
  background-color: v-color-brand();
  color: #fff;
  text-align: center;
  @include t-bg-fullwidth();
  @include v-space( padding-top, large);
  @include v-space( padding-bottom, large);
  h2, h3, h4 {
    line-height: 1.5em;
    letter-spacing: .05em;
  }
}